@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;1,100&display=swap');

:root {
    --color-one: #103178;
    --color-two: #FEC700;
    --color-text: #5B6C8E;

    --font: 'Inria Serif', serif;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--color-text);
    font-family: var(--font);
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
}