/* Header */
.header {
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}

.header-top {
    background: var(--color-one);
    color: var(--color-two);
    text-align: center;
    font-size: 17.6px;
    padding: 6.4px 16px;
    margin: 0px 0px 8px;
}

.header-main .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header-main .inner-logo a {
    color: var(--color-one);
    display: flex;
    align-items: center;
}

.header-main .inner-logo img {
    height: 48px;
    width: auto;
    margin-right: 10px;
}

.header-main .inner-logo span {
    font-size: 22.4px;
    font-weight: 700;
}

.header-main .inner-menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-main .inner-menu ul li {
    margin-left: 15px;
    margin-right: 15px;
}

.header-main .inner-menu ul li a {
    color: var(--color-one);
    font-size: 18px;
}

.header-main .inner-contact {
    font-size: 18px;
    color: var(--color-one);
}

.header-main .inner-social ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-main .inner-social ul li {
    margin-left: 15px;
}

.header-main .inner-social ul li a {
    color: var(--color-one);
    font-size: 26px;
}

.header-main .inner-menu-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .header-top {
        font-size: 16px;
    }

    .header-main .inner-menu,
    .header-main .inner-social {
        display: none;
    }

    .header-main .inner-menu-mobile {
        display: block;
        font-size: 24px;
        color: var(--color-one);
    }
}

@media screen and (max-width: 992px) {
    .header-main .inner-contact {
        display: none;
    }
}



/* End Header */

/* Buttons */
.button {
    background: var(--color-text);
    color: #fff;
    padding: 12px 32px;
    font-size: 18px;
    border-radius: 45px;
    border: 2px solid var(--color-text);
    display: inline-block;
}

.button:hover {
    color: var(--color-text);
    background: #fff;

}

.button-one {
    background: var(--color-one);
    border-color: var(--color-one);
}

.button-one:hover {
    background: #fff;
    color: var(--color-one);
}

.button-two {
    background: var(--color-two);
    border-color: var(--color-two);
}

.button-two:hover {
    background: #fff;
    color: var(--color-two);
}

/* End Buttons */

/* Section One */
.section-one {
    background: #EFF1F4;
    padding: 100px 0;
}

.section-one .inner-wrap {
    display: flex;
    flex-wrap: wrap;
}

.section-one .inner-wrap .inner-content {
    width: 50%;
}

.section-one .inner-wrap .inner-content .inner-title {
    color: var(--color-one);
    font-size: 60px;
}

.section-one .inner-wrap .inner-content .inner-desc {
    color: var(--color-one);
    font-size: 22px;
    margin-bottom: 40px;
}

.section-one .inner-content .inner-list {
    display: flex;
    margin-bottom: 40px;
}

.section-one .inner-content .inner-item {
    width: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.section-one .inner-wrap .inner-image {
    width: 50%;
    position: relative;
}

.section-one .inner-wrap .inner-image img {
    width: 100%;
}

.section-one .inner-image .inner-sale {
    position: absolute;
    top: 0;
    right: 150px;
    background: var(--color-two);
    color: var(--color-one);
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
}

.section-one .inner-image .inner-sale span:nth-child(1) {
    font-size: 22px;
}

.section-one .inner-image .inner-sale span:nth-child(2) {
    font-size: 48px;
}

@media (max-width: 992px) {
    .section-one .inner-wrap .inner-content {
        width: 100%;
        order: 1;
    }

    .section-one .inner-wrap .inner-image {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .section-one .inner-wrap .inner-content {
        text-align: center;
    }

    .section-one .inner-content .inner-item {
        justify-content: center;
    }

    .section-one .inner-image .inner-sale {
        right: 36px;
        width: 84px;
        height: 84px;
    }

    .section-one .inner-image .inner-sale span:nth-child(1) {
        font-size: 16px;
    }

    .section-one .inner-image .inner-sale span:nth-child(2) {
        font-size: 28px;
    }

    .section-one .inner-content .inner-title {
        font-size: 38px;
    }
}


/* End Section One */

/* Section Two */
.section-two {
    padding: 100px 0;
}

.section-two .inner-wrap {
    display: flex;
    justify-content: space-between;
}

.section-two .inner-box {
    width: calc(100%/3 - 20px);
    height: 100%;
    aspect-ratio: 4/3;
    position: relative;
    overflow: hidden;
}

.section-two .inner-box img {
    width: 200px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.6s;
}

.section-two .inner-box:hover img {
    transform: scale(1.1);
}

.section-two .inner-box .inner-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.section-two .inner-box .inner-content a {
    bottom: 0;
}

.section-two .inner-box .inner-tag {
    background: #139F5D;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 16px;
    color: white;
    margin-bottom: 10px;
}

.section-two .inner-box .inner-title {
    margin-top: 0px;
    font-size: 32px;
    color: var(--color-one);
    margin-bottom: 10px;
}

.section-two .inner-box:nth-child(1) .inner-title {
    color: #fff;
}

.section-two .inner-box .inner-sale,
.section-two .inner-box .inner-price-new {
    font-size: 48px;
    color: var(--color-two);
    font-weight: 600;
}

.section-two .inner-box .inner-price-old {
    font-size: 22px;
    color: var(--color-text);
    text-decoration: line-through;
    margin-top: 10px;
}

@media (max-width: 992px) {
    .section-two .inner-wrap {
        flex-wrap: wrap;
    }

    .section-two .inner-box {
        width: 100%;
        aspect-ratio: 2/1;
        margin-bottom: 30px;
    }
}

/* End Section Two */